
.game{
    margin: 0 auto;
    width: 400px;
    background: #ace5ff;
}

.game table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #5656ac;

}
.game table th{
    height: 50px;
}

.game table td{
    border: 2px solid #5656ac;
    height: 50px;
}

#red {
    background: #ff4a63;
}

#blue {
    background: #6654ff;
}

.ball{
    position: relative;
    height: 50px;
    border-radius: 100%;
    margin: 0 auto;
    cursor: pointer;
}